.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.topbar {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    border-bottom: 1px solid #ddd;
    background-color: #304b43;
}

.brand {
    font-size: 1.25rem;
    font-weight: 600;
    text-decoration: none;
    color: inherit;
    color: white;
}

.content {
    padding: 2rem;
    flex: 1;
    background-color: #f5f8f7;
    min-height: calc(100vh - 57px);
}

.language-select {
    margin-left: auto;
    width: auto;
    padding: 0.4rem 0.8rem;
}